<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text darken-4">Paul R. Duca</h1>
      <div class="row center">
        <h5 class="header col s12 light">Full-Stack Software Engineer with a diverse background</h5>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"> <img src="/images/background1.png" alt="Unsplashed background img 1"/></div>
</div>


<div class="container">
  <div class="section">
    <h3 class="center"><%= link_to "Resume PDF", asset_path("PaulDucaResume.pdf")%></h3>
    <!--   Icon Section   -->
      <div class="col m12 m4">
        <div class="icon-block">
          <h1 class="left blue-text"><i class="material-icons">spellcheck</i></h1>
          <h5 class="left">Learning</h5>
          <br>
          <br>
          <p class="light">Technology has always been interesting to me, but I never knew exactly how to get involved.
            I was introduced to software development the summer going into my senior year of college. In a short time I was obsessed with learning everything from the fundamentals of Computer Science, to the nuances of web design.
          I decided that I wanted to make software development my career path, but I was about to graduate and it seemed to late. Luckily I found Dev Bootcamp where they taught the Full-Stack Web Development using <strong>Ruby-on-Rails</strong>, and more importantly gave me the ability to understand <i>new</i> technologies.</p>
        </div>
      </div>

      <div class="col m12 m4">
        <div class="icon-block">
          <h1 class="left blue-text m4"><i class="material-icons">perm_identity</i></h1>
          <h5 class="left">Background</h5>
          <br>
          <br>
          <p class="light">During high school I dedicated the majority of my free time interacting with and participating in the arts. As a guitar player, I was able to teach kids how to play, a truly rewarding experience.
            As an actor, I participated in many productions including the anti-bullying play <i>Bang Bang, Your Dead</i> which was performed at multiple schools. As a photographer, I have traveled the world and taken pictures of several of the natural wonders <small>(all pictures seen are my own)</small>.
            During college I studied Psychology where I learned to understand people and how they interact, a skill that I carry with me into the work place. I also developed leadership skills as the Brotherhood chair of the Kappa Delta Rho fraternity, where I learned to organize people in an effective meaningful way.</p>
        </div>
      </div>

      <div class="col m12 m4">
        <div class="icon-block">
          <h1 class="left blue-text"><i class="material-icons">language</i></h1>
          <h5 class="left">Aspirations</h5>
          <br>
          <br>
          <p class="light"> I am actively looking for my first position as a developer. I hope to find a company which values my interpersonal skills, hard work, and dedication, while cultivating my skills as a programmer.
             As a programmer I aspire to continue to stay in touch with the constantly evolving technology, and continue to develop my ability to impliment clean and concise code.
             Long term I hope to contribute to innovative and meaningful software which improves peoples lives in a measurable way. Some personal goals I have is to read at least 2 books a month, stay in shape, and to learn to play the violin.</p>
        </div>


      </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h3 class="header col s12 light slabo">"<strong>Innovation distinguishes between a leader and a follower.</strong>" -Steve Jobs</h3>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/images/grandcanyon.png" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Find me online at:</h4>
        <h6><a href="https://github.com/thepaulduca">Github : https://github.com/thepaulduca</a></h5>
        <br>
        <h6><a href="https://www.linkedin.com/in/paul-duca">Linkedin : https://www.linkedin.com/in/paul-duca</a></h5>
        <br>
        <h6><a href="https://www.facebook.com/profile.php?id=100010488887431">Facebook : https://www.facebook.com/profile.php?id=100010488887431</a></h5>
      </div>
    </div>

  </div>
</div>


<footer class="page-footer blue center">
  <div class="container">

      <div class="col l6 s12">
        <h5 class="white-text">Contact</h5>
        <p class="grey-text text-lighten-4">Email: paul.r.duca@gmail.com</p>
        <p class="grey-text text-lighten-4">Mobile: 732-284</p>
      </div>
  </div>
</footer>
